apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: vaultresources.vault.k8s.mows.cloud
spec:
  group: vault.k8s.mows.cloud
  names:
    categories: []
    kind: VaultResource
    plural: vaultresources
    shortNames:
    - vres
    singular: vaultresource
  scope: Namespaced
  versions:
  - additionalPrinterColumns: []
    name: v1
    schema:
      openAPIV3Schema:
        description: Custom kubernetes resource for applying Vault resources like secret engines, auth engines, policies, and secret sync configurations.
        properties:
          spec:
            oneOf:
            - required:
              - secretEngine
            - required:
              - authEngine
            - required:
              - engineAccessPolicy
            - required:
              - secretSync
            properties:
              authEngine:
                oneOf:
                - required:
                  - kubernetes
                properties:
                  kubernetes:
                    properties:
                      roles:
                        additionalProperties:
                          properties:
                            audience:
                              nullable: true
                              type: string
                            namespace:
                              nullable: true
                              type: string
                            policyIds:
                              description: The vault policy id to attach to the service account without namespace
                              items:
                                type: string
                              type: array
                            serviceAccountName:
                              type: string
                          required:
                          - policyIds
                          - serviceAccountName
                          type: object
                        type: object
                    required:
                    - roles
                    type: object
                type: object
              engineAccessPolicy:
                description: Policies will be named mows-core-secrets-vrc/{namespace}/{policy_id}
                properties:
                  subPolicies:
                    items:
                      properties:
                        capabilities:
                          items:
                            enum:
                            - read
                            - create
                            - update
                            - delete
                            - list
                            type: string
                          type: array
                        engineId:
                          type: string
                        engineType:
                          enum:
                          - auth
                          - secret
                          type: string
                        subPath:
                          type: string
                      required:
                      - capabilities
                      - engineId
                      - engineType
                      - subPath
                      type: object
                    type: array
                required:
                - subPolicies
                type: object
              secretEngine:
                oneOf:
                - required:
                  - kv-v2
                - required:
                  - transit
                properties:
                  kv-v2:
                    properties:
                      kvData:
                        additionalProperties:
                          additionalProperties:
                            type: string
                          type: object
                        type: object
                    required:
                    - kvData
                    type: object
                  transit:
                    type: object
                type: object
              secretSync:
                properties:
                  kvMapping:
                    additionalProperties:
                      properties:
                        engine:
                          type: string
                        path:
                          type: string
                      required:
                      - engine
                      - path
                      type: object
                    type: object
                  targets:
                    properties:
                      configMaps:
                        additionalProperties:
                          properties:
                            annotations:
                              additionalProperties:
                                type: string
                              nullable: true
                              type: object
                            data:
                              additionalProperties:
                                type: string
                              type: object
                            labels:
                              additionalProperties:
                                type: string
                              nullable: true
                              type: object
                          required:
                          - data
                          type: object
                        nullable: true
                        type: object
                      secrets:
                        additionalProperties:
                          properties:
                            annotations:
                              additionalProperties:
                                type: string
                              nullable: true
                              type: object
                            data:
                              additionalProperties:
                                type: string
                              type: object
                            labels:
                              additionalProperties:
                                type: string
                              nullable: true
                              type: object
                            type:
                              nullable: true
                              type: string
                          required:
                          - data
                          type: object
                        nullable: true
                        type: object
                    type: object
                required:
                - kvMapping
                - targets
                type: object
            type: object
          status:
            description: The status object of `VaultResource`
            nullable: true
            properties:
              created:
                type: boolean
            required:
            - created
            type: object
        required:
        - spec
        title: VaultResource
        type: object
    served: true
    storage: true
    subresources:
      status: {}
