services:
    ws-prod:
        build:
            context: .
            dockerfile: Dockerfile
            tags:
                - ${REGISTRY:-localhost:5000}/${SERVICE_NAME}
            additional_contexts:
                lock: ../../../../
                mows-common-rust: ../../../../utils/mows-common-rust
            args:
                - PROFILE=release # dev or release
                - SERVICE_NAME=${SERVICE_NAME}
                - APP_STAGE_IMAGE=${APP_STAGE_IMAGE:-alpine}
        image: pektin/feoco
        ports:
            - "3050:80"
        environment:
            - CSP_CONNECT_SRC=*
        volumes:
            - /home/paul/Documents/pektin/pektin-ui/build:/public/
