:root {
    font-family: "Inter Variable", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --c-background: #00040c;

    --c-text: #ffffff;
    --c-text-dim: #d5d5d5;

    --c-hl1: #ff3a16;
    --c-hl1-less-opacity: #ff39165e;
    --c-hl1-even-less-opacity: #ff391627;

    --c-hl2: #0199ff;
    --c-hl2-less-opacity: #0199ff5e;
    --c-hl2-even-less-opacity: #0199ff27;

    --c-hl3: #ffb627;

    --fs-h1: 48px;
    --fs-h2: 40px;
    --fs-h3: 30px;
    --fs-h4: 24px;
    --fs-h5: 18px;

    --fs-large-text: 20px;

    color-scheme: light dark;
    color: var(--c-text);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    overflow-x: hidden;
    max-width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: var(--c-background);
    overflow-x: hidden;
}

.Progress {
    margin-top: 100px;

    > .Collapsible {
        border: 2px solid var(--c-text);
        border-radius: 10px;
        margin: 5px;
        > .CollapsibleTitle.open {
            border-bottom: 2px solid var(--c-text);
        }
    }

    .priority {
        user-select: none;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
        position: relative;
        display: block;
        > span {
            position: absolute;
            top: -1.5px;
            font-weight: 600;
            width: 10px;
            height: 10px;
            left: 5px;
            text-align: center;
            color: var(--c-background);
        }
        &.p1 {
            background: #ff3a16;
        }
        &.p2 {
            background: #ffb627;
        }
        &.p3 {
            background: #0199ff;
        }
        &.p4 {
            background: #949494;
        }
    }
    .wipSubprojectName {
        user-select: none;
        padding-left: 10px;
        width: 270px;
        height: 100px;
        img {
            transform: scale(1.5);
        }
        span {
            font-size: var(--fs-h4);
            font-weight: 600;
            vertical-align: 40px;
            margin-left: 10px;
        }
    }
    .subprojectCollapsible {
        margin: 10px 0px;
    }
    .subproject {
        .milestones {
            display: grid;
            grid-auto-flow: column;
            // add a gap before the first element

            overflow-x: auto;

            box-sizing: border-box;
            .milestone {
                text-align: left;
                box-sizing: border-box;

                border-right: 1px solid var(--c-text);
                padding: 20px 30px;

                > .topLine {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;
                    min-width: 300px;

                    > .name {
                        font-size: var(--fs-h5);
                        font-weight: 600;
                        margin: 0px;
                    }
                }

                .Collapsible {
                    > .CollapsibleTitle {
                        padding: 0px 0px;
                    }
                }
                > *div > .pusher {
                    margin-left: 30px;
                }
                .task {
                    height: 50px;

                    width: 100%;
                    span.taskName {
                        // ellipsis if to large
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: block;
                        max-width: fit-content;
                        font-weight: 600;
                        &.done {
                            text-decoration: line-through;
                        }

                        &.inProgress {
                            color: var(--c-hl3);
                        }
                    }
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 10px;
                    min-width: 300px;

                    .icon {
                        width: 20px;
                        user-select: none;
                    }
                }
            }
        }
    }
}

.App {
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

.Collapsible {
    .CollapsibleTitle {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin: 0px;
        padding: 10px 0px;
        svg {
            margin: 0px 10px;

            transition: transform 0.3s;
        }
    }
}

::-moz-selection {
    color: var(--c-text);
    background: var(--c-hl2);
}

::selection {
    color: var(--c-text);
    background: var(--c-hl2);
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

h1 {
    font-size: var(--fs-h1);
    line-height: 1.3;
    margin: 10px 0px;
}

h2 {
    font-size: var(--fs-h2);
    line-height: 1.1;
    margin: 10px 0px;
}

h3 {
    font-size: var(--fs-h3);
    margin: 0px 0px;
}

h4 {
    font-size: var(--fs-h4);
    margin: 0px 0px;
}

h5 {
    font-size: var(--fs-h5);
    margin: 0px 0px;
}

.largeText {
    font-size: var(--fs-large-text);
    color: var(--c-text-dim);
    max-width: 600px;
}

a {
    color: var(--c-hl2);
    font-weight: 500;
}

figcaption {
    color: var(--c-text-dim);
    font-size: 12px;
    text-align: center;
    max-width: 100%;
}

figure {
    margin: 20px 0px;
}

i {
    font-variation-settings: "GRAD" 88;
}

h1,
h2,
.largeText,
.glow {
    filter: drop-shadow(0px 0px 50px var(--c-hl2-less-opacity));
}

p {
    color: var(--c-text-dim);
}

h2.hl1 {
    margin-top: 0px;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .subsection {
        min-height: 100vh;
    }
}

.hl1 {
    color: var(--c-hl1);
}

.animationTrigger {
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
}

.childrenSideBySide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    > * {
        max-width: 50%;
    }
}

div.childrenCenterFlex {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.whiteBox {
    border: 3px solid var(--c-text);
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
}

.centerAligned {
    text-align: center;
}
.leftAligned {
    text-align: left;
}

.slate {
    background: linear-gradient(
        120deg,
        var(--c-hl2-even-less-opacity) 0%,
        var(--c-background) 100%
    );
    border-radius: 20px;
    box-sizing: border-box;
    border: 3px ridge var(--c-hl2);
}

div.Background {
    width: 100%;
    height: 100%;
    position: static;
    z-index: -1;

    > div {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        mix-blend-mode: lighten;
        img {
            opacity: 2%;
        }
        .blender {
            --blend-width: 75px;
            width: var(--blend-width);
            height: 100%;
            position: absolute;

            &.left {
                left: -50px;
                top: 0px;
                background: linear-gradient(90deg, var(--c-background) 0%, rgba(0, 0, 0, 0) 100%);
            }
            &.right {
                right: -50px;
                top: 0px;
                background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, var(--c-background) 100%);
            }
        }
    }
}

aside.TableOfContents {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;

    // align vertical in the parent box
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 30px;
    box-sizing: border-box;
    overflow: none;
    z-index: 10;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    svg,
    a {
        display: inline-flex;
        align-items: center;
    }

    a {
        color: var(--c-text-dim);
        // overflow ellipsis
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .pusher {
        margin-left: 20px;
    }
}

.Project {
    width: 100%;
    min-height: 100vh;
    padding: 0px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.HeroSplit {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    section.MOWS {
        margin-bottom: 100px;
    }

    section {
        p {
            max-width: 600px;
            margin: 0;
        }
        > div {
            .Parts > div {
                margin: 20px 0px;
            }
        }
        &.Hero {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 900px;

            .HeroText {
                margin-top: -100px;
                width: 460px;
            }
            .Face {
                z-index: -1;

                img {
                    margin-left: -150px;
                    margin-right: -300px;
                    margin-top: -20px;
                    height: 1100px;
                }
            }
        }

        &.Why {
            .ArchitectureProblems {
                .picker {
                    text-align: left;
                    width: 100%;
                    margin: 20px 0px;

                    h3 {
                        padding: 0px;
                    }

                    button {
                        font-weight: 600;
                        font-size: 16px;
                        padding-right: 30px;
                        padding-left: 0px;
                        margin-top: 0px;
                        cursor: pointer;
                        text-align: left;
                        border: none;
                        background: none;
                        display: inline;
                        span {
                            border-bottom: 3px solid transparent;
                        }
                    }
                }
                .architectureDisplay {
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    margin-top: 30px;
                    height: 850px;
                    .imageBox {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 100%;
                            flex-shrink: 1;
                        }
                        margin-right: 20px;
                        height: 100%;
                    }

                    ul {
                        padding: 0;
                        max-width: 500px;
                        padding: 0px 20px;
                        margin: 0px;
                    }

                    .writtenProblems {
                        li {
                            list-style-position: outside;
                            margin-left: 20px;
                        }
                        h4 {
                            margin-top: 20px;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
            .basicsLine {
                /*
                margin: 131px -2px;*/
                margin: 62px auto;
                width: 925px;

                position: relative;
                > img {
                    margin-top: -34px;
                }
                > div {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    > div {
                        position: absolute;

                        &.WhyDifferentEasyToUse {
                            top: 0px;
                            left: 200px;
                            width: 332px;
                        }

                        &.WhyDifferentReliable {
                            top: 177px;
                            left: 295px;
                            width: 395px;
                        }
                        &.WhyDifferentSecure {
                            top: 360px;
                            left: 200px;
                            width: 456px;
                        }
                        &.WhyDifferentPrivate {
                            top: 525px;
                            left: 400px;
                            width: 422px;
                        }
                        &.WhyDifferentOpen {
                            top: 700px;
                            left: 295px;
                            width: 441px;
                        }
                        &.WhyDifferentDeveloperFriendly {
                            top: 866px;
                            left: 295px;
                            width: 473px;
                        }
                        &.WhyDifferentComprehensive {
                            top: 1052px;
                            left: 200px;
                            width: 550px;
                        }
                        &.WhyDifferentScalable {
                            top: 1230px;
                            left: 295px;
                            width: 574px;
                        }

                        > p {
                            margin: 0px;
                            max-width: 800px;
                        }
                    }
                }
            }
        }
        &.How {
            img {
                z-index: -1;
            }
            .manifestExample {
                max-width: 400px;
                height: auto;
                border-radius: 10px;
                margin: 0px auto;
            }

            .HowManyPartsManager {
                .AnyMachine {
                    width: 550px;
                    transform: translate(-100px, -90px) scale(0.5);

                    height: 370px;
                }
            }
        }
    }
}

nav {
    user-select: none;
    width: 100%;
    height: 80px;
    > div {
        // align vertical in the parent box
        display: flex;
        float: left;
        height: 100%;

        &.dev {
            // align right
            float: right;
        }
    }
    ul {
        all: unset;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    li {
        all: unset;
        a {
            text-decoration: none;
            color: var(--c-text);
            text-transform: uppercase;
            font-weight: 600;
            margin: 0px 20px;
            padding: 2px 0px;
            &.active {
                border-bottom: 3px solid var(--c-hl1);
            }
        }
    }
}

@media (prefers-color-scheme: light) {
}

@media screen and (max-width: 800px) {
    nav {
        display: none;
    }

    section {
        margin-bottom: 100px;
        margin-top: 50px;
        .subsection {
            margin-bottom: 50px;
            h2 {
                text-align: center;
            }
        }
    }

    h1 {
        font-size: 36px !important;
    }
    h2 {
        font-size: 30px !important;
    }
    h3 {
        font-size: 24px !important;
    }
    h4 {
        font-size: 20px !important;
    }
    h5 {
        font-size: 16px !important;
    }
    .Project {
        padding: 0px 20px;
        max-width: 100%;
        section {
            &.Hero {
                display: block !important;
                position: relative;
                .Face {
                    position: absolute;
                    z-index: -1 !important;
                    transform: scale(0.7) translate(-160px, -350px);
                }
                .HeroText {
                    position: absolute;
                    max-width: 100%;

                    top: 550px !important;
                }
            }
            &.MOWS {
                flex-wrap: wrap;
            }
            &.Why {
                .ArchitectureProblems {
                    .picker {
                        margin: 5px 2.5px;
                        button {
                            padding-right: 20px;
                        }
                    }
                    .architectureDisplay {
                        margin: 0px;
                        flex-direction: column;
                        height: auto;
                        .imageBox {
                            margin-right: 0px;
                            height: 300px;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
