.rs-uploader-trigger-btn {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #ddd;
    cursor: pointer;
}
.rs-uploader-trigger-btn:hover {
    border: 1px dashed var(--rs-btn-primary-bg);
}
