services:
    pektin:
        build:
            context: "."
            dockerfile: Dockerfile
            tags:
                - ${REGISTRY:-localhost:5000}/${SERVICE_NAME}
            additional_contexts:
                pektin-common: ../common
                mows-common-rust: ../../../../utils/mows-common-rust
                lock: ../../../../
            args:
                - PROFILE=${PROFILE:-dev} # dev or release
                - SERVICE_NAME=${SERVICE_NAME}
                - APP_STAGE_IMAGE=${APP_STAGE_IMAGE:-alpine}
        restart: always
        environment:
            DB_URI: redis://db:6379
            #BIND_ADDRESS: 0.0.0.0
            #BIND_PORT: 53
        #ports:
        #    - "127.0.0.1:53:$BIND_PORT/udp"
        networks:
            - pektin
    #db:
    #    image: db:alpine
    #    restart: always
networks:
    pektin:
        name: pektin-ui_default
