api:
    enabled: true
    image: 192.168.112.5:5000/pektin-api
    imagePullPolicy: Always
    name: pektin-api
    replicaCount: 1
    vaultUrl: http://vault.mows-core-secrets-vault:8200
    dev:
        autoUpdate: true
    logging:
        logFilter: info
        tracingFilter: info, pektin-api=trace

server:
    enabled: true
    image: 192.168.112.5:5000/pektin-server
    imagePullPolicy: Always
    name: pektin-server
    replicaCount: 1
    dev:
        autoUpdate: true
    logging:
        logFilter: info
        tracingFilter: info, pektin-server=trace

zertificat:
    enabled: true
    image: 192.168.112.5:5000/pektin-zertificat
    imagePullPolicy: Always
    name: pektin-zertificat
    replicaCount: 1
    vaultUrl: http://vault.mows-core-secrets-vault:8200
    acmeUrl: https://acme-staging-v02.api.letsencrypt.org/directory # https://acme-v02.api.letsencrypt.org/directory
    acmeEmail: zertificat@example.com
    dev:
        autoUpdate: true
    logging:
        logFilter: info
        tracingFilter: info, pektin-zertificat=trace

db:
    enabled: true
    image: docker.io/eqalpha/keydb:alpine
    imagePullPolicy: Always
    name: pektin-db
    replicaCount: 1

ui:
    enabled: true
    image: docker.io/pektin/ui:latest
    imagePullPolicy: Always
    name: pektin-ui
    replicaCount: 1

ribston:
    enabled: true
    image: 192.168.112.5:5000/pektin-ribston
    imagePullPolicy: Always
    name: pektin-ribston
    replicaCount: 1
