* {
    --bg: #111;
    --bg2: #222;
    --fg: #fff;
    --hover: #333;
    --accent: darkorange;
}

button.Filez {
    all: unset;
    cursor: pointer;
}

.selectable {
    user-select: text;
}

.Filez {
    background: var(--bg);
    color: var(--fg);
    user-select: none;

    .clickable {
        cursor: pointer;
        &:hover {
            background: var(--hover);
        }
    }
    .active {
        background: var(--accent);
    }

    nav.react-contextmenu {
        z-index: 9999;
        background: var(--bg2);
        color: var(--fg);
        border: 1px solid var(--hover);
        border-radius: 5px;
        padding: 5px 0px;
        font-size: 12px;

        .react-contextmenu-item {
            padding: 5px 10px;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    .react-contextmenu-wrapper {
        width: 100%;
        height: 100%;
    }

    .Group {
        width: 100%;
        height: 100%;

        .GroupItems {
            padding: 0px 5px;
            width: 100%;
            height: 100%;
            span {
                display: block;
                float: left;
                margin-right: 5px;
                &.itemCount {
                    color: #777;
                }
            }
        }
    }

    &.ResourceList {
        width: 100%;
        height: 100%;
        .ListTopBar {
            padding-top: 5px;
            .Buttons {
                float: left;
                margin-left: 5px;
                margin-top: 1px;
            }
        }
    }

    &.FileViewer {
        overflow: hidden;
        .Image {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .Video {
            width: 100%;
            height: 100%;
            video {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .Text {
            overflow-x: hidden;
            overflow-y: scroll;
            width: 100%;
            height: 100%;
            pre {
                white-space: pre-wrap;
                word-wrap: break-word;
                margin: 0px;
                padding: 10px;
            }
        }
    }

    &.FileMetaEditor {
        overflow-y: scroll;
        .panel {
            .header {
                svg {
                    margin-right: 10px;
                    transform: translate(0px, 3px);
                }
                h5 {
                    display: inline;
                }
            }
        }
        .basicsBox {
            margin-bottom: 15px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        .created,
        .modified,
        .size {
            display: inline-block;
            margin-right: 30px;
            margin-top: 5px;
        }
    }
}

.gutter {
    background-color: #eee;

    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background: var(--bg2);
        background-repeat: no-repeat;
        background-position: 50%;
    }
    background-color: transparent;

    cursor: col-resize;
}
.SortingBar {
    border-bottom: 1px solid var(--bg2);
}
