services:
    mpm:
        build:
            context: "."
            dockerfile: Dockerfile
            tags:
                - ${REGISTRY:-localhost:5000}/${SERVICE_NAME}
            additional_contexts:
                mows-common-rust: ../mows-common-rust
                lock: ../../
            args:
                - PROFILE=${PROFILE:-release}
                - SERVICE_NAME=${SERVICE_NAME}
                - APP_STAGE_IMAGE=${APP_STAGE_IMAGE:-scratch}
            target: ${TARGET:-binary}
