.Group {
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
        background: #343434;
    }
    &.selected {
        background: darkorange;
    }
}
