.File {
    overflow: hidden;
    height: 100%;
    width: 100%;

    div.hover {
        height: 100%;
        width: 100%;
        &:hover {
            background: #343434;
        }
        &.selected {
            background: darkorange;
        }
    }
}
