#SelectView {
    height: 30px;
    background: #222;
    button {
        all: unset;
        cursor: pointer;
        height: 100%;
        opacity: 25%;
        > * {
            height: 100%;
            margin: 0px 5px;
        }

        &.selected {
            opacity: 100%;
        }
        &.Single {
            padding-left: 2px;
        }
    }
}
