@import "tailwindcss";
@import "@mows/react-components/main.css";
@import "@xterm/xterm/css/xterm.css";

@theme {
    --font-sans: "Inter Variable", sans-serif;
    --font-mono: ui-monospace, monospace;
}

#root {
    width: 100%;
    min-height: 100vh;
}
