#Panels {
    .panel {
        background: var(--panel-background-color);
        overflow: hidden;
    }

    height: calc(100% - 30px);
    width: 100%;
    #split-vertical {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #split-horizontal {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    .gutter {
        --gutter-visual-size: 2px;
        &::after {
            content: "";
            transition: 0s all;
        }
        &.gutter-horizontal {
            &::after {
                display: block;
                width: var(--gutter-visual-size);
                height: 100%;
                margin-left: 1px;
                background-color: var(--gutter-color);
            }

            &:hover::after,
            &:active::after {
                width: var(--gutter-visual-size);
                margin-left: 1px;
                height: 100%;
                display: block;
                content: "";
                z-index: 3;
                background-color: var(--gutter-hover-color);
                transition-delay: 0.5s;
            }
            &:hover {
                cursor: col-resize;
            }
        }

        &.gutter-vertical {
            &::after {
                display: block;
                height: var(--gutter-visual-size);
                width: 100%;
                background-color: var(--gutter-color);
            }
            &:hover::after,
            &:active::after {
                height: var(--gutter-visual-size);
                width: 100%;
                display: block;
                content: "";
                z-index: 3;
                background-color: var(--gutter-hover-color);
                transition-delay: 0.5s;
            }
            &:hover {
                cursor: row-resize;
            }
        }
    }
}
