replicaCount: 1
zitadel:
    masterkeySecretName: "zitadel-masterkey"
    configSecretName: zitadel-config
    configSecretKey: config.yaml

initJob:
    activeDeadlineSeconds: 1800
    backoffLimit: 10

setupJob:
    activeDeadlineSeconds: 1800

#image:
#    tag: v2.67.2@sha256:90dc5231c14cd08781641f49b292356b4e16d2ba8435dd75019e57a861e982f9

debug:
    enabled: true
