* {
    --text: #fff;
    --background: #111;
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: var(--background);
    color: var(--text);
}

input {
    background: var(--background);
    color: var(--text);
    outline: none;
    border: 1.5px solid white;
    border-radius: 2px;
    padding: 5px;
    width: 300px;
}

.App {
}
