@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Space Mono", system-ui, Avenir, Helvetica, Arial, sans-serif;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

/* Target elements starting with tp- class */
.tp-dfwv {
    z-index: 10;
    overflow: hidden;
}

.active {
    text-decoration: underline;
}

@media (prefers-color-scheme: light) {
}
