services:
    pektin-api:
        build:
            context: "."
            dockerfile: Dockerfile
            tags:
                - ${REGISTRY:-localhost:5000}/${SERVICE_NAME}
            additional_contexts:
                pektin-common: ../common
                mows-common-rust: ../../../../utils/mows-common-rust
                lock: ../../../../
            args:
                - PROFILE=${PROFILE:-dev} # dev or release
                - SERVICE_NAME=${SERVICE_NAME}
                - APP_STAGE_IMAGE=${APP_STAGE_IMAGE:-alpine}
