* {
    --c-primary: #faa916;
    --c-secondary: #449dd1;
    --c-tertiary: #c20114;
    --c-white: #ffffff;
    --c-background: #171a21;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: var(--c-background);
    user-select: none;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

ul,
li {
    all: unset;
    display: block;
}

main {
    max-width: 100%;
    width: 60%;
    margin: 0 auto;

    .hero {
        margin-top: 200px;
        h1 {
            font-size: 80px;
            font-weight: 900;
            line-height: 0.9;
            color: var(--c-primary);
        }
        h3 {
            font-size: 40px;
            font-weight: 900;
            line-height: 0.9;
            color: var(--c-primary);
        }
    }

    .choose {
        width: 500px;
        margin: 0 auto;
        button {
            padding: 20px;
            border-radius: 50px;
            font-weight: 600;
            margin: 20px;
            background: none;
            border: 2px solid var(--c-primary);
            cursor: pointer;
            &:hover {
                transform: scale(1.02);
            }
        }
    }

    .features {
        > div {
            min-width: 300px;
            width: 33%;
            float: left;
            p {
                padding-right: 50px;
            }
        }
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
