services:
    api:
        {{- if eq .services.api.build.enabled true }}
        build:
            context: "{{ .services.api.build.context }}"
            dockerfile: "{{ .services.api.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.api.image }}"
        {{- end }}
        restart: unless-stopped

    db:
        {{- if eq .services.db.build.enabled true }}
        build:
            context: "{{ .services.db.build.context }}"
            dockerfile: "{{ .services.db.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.db.image }}"
        {{- end }}
        restart: unless-stopped

    dev:
        {{- if eq .services.dev.build.enabled true }}
        build:
            context: "{{ .services.dev.build.context }}"
            dockerfile: "{{ .services.dev.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.dev.image }}"
        {{- end }}
        restart: unless-stopped

    docs:
        {{- if eq .services.docs.build.enabled true }}
        build:
            context: "{{ .services.docs.build.context }}"
            dockerfile: "{{ .services.docs.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.docs.image }}"
        {{- end }}
        restart: unless-stopped

    feoco:
        {{- if eq .services.feoco.build.enabled true }}
        build:
            context: "{{ .services.feoco.build.context }}"
            dockerfile: "{{ .services.feoco.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.feoco.image }}"
        {{- end }}
        restart: unless-stopped

    image:
        {{- if eq .services.image.build.enabled true }}
        build:
            context: "{{ .services.image.build.context }}"
            dockerfile: "{{ .services.image.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.image.image }}"
        {{- end }}
        restart: unless-stopped

    images:
        {{- if eq .services.images.build.enabled true }}
        build:
            context: "{{ .services.images.build.context }}"
            dockerfile: "{{ .services.images.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.images.image }}"
        {{- end }}
        restart: unless-stopped

    local:
        {{- if eq .services.local.build.enabled true }}
        build:
            context: "{{ .services.local.build.context }}"
            dockerfile: "{{ .services.local.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.local.image }}"
        {{- end }}
        restart: unless-stopped

    metadata:
        {{- if eq .services.metadata.build.enabled true }}
        build:
            context: "{{ .services.metadata.build.context }}"
            dockerfile: "{{ .services.metadata.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.metadata.image }}"
        {{- end }}
        restart: unless-stopped

    metadata:
        {{- if eq .services.metadata.build.enabled true }}
        build:
            context: "{{ .services.metadata.build.context }}"
            dockerfile: "{{ .services.metadata.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.metadata.image }}"
        {{- end }}
        restart: unless-stopped

    mpm:
        {{- if eq .services.mpm.build.enabled true }}
        build:
            context: "{{ .services.mpm.build.context }}"
            dockerfile: "{{ .services.mpm.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.mpm.image }}"
        {{- end }}
        restart: unless-stopped

    muzik:
        {{- if eq .services.muzik.build.enabled true }}
        build:
            context: "{{ .services.muzik.build.context }}"
            dockerfile: "{{ .services.muzik.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.muzik.image }}"
        {{- end }}
        restart: unless-stopped

    pektin-resource-controller:
        {{- if eq .services.pektin-resource-controller.build.enabled true }}
        build:
            context: "{{ .services.pektin-resource-controller.build.context }}"
            dockerfile: "{{ .services.pektin-resource-controller.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.pektin-resource-controller.image }}"
        {{- end }}
        restart: unless-stopped

    ribston:
        {{- if eq .services.ribston.build.enabled true }}
        build:
            context: "{{ .services.ribston.build.context }}"
            dockerfile: "{{ .services.ribston.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.ribston.image }}"
        {{- end }}
        restart: unless-stopped

    server:
        {{- if eq .services.server.build.enabled true }}
        build:
            context: "{{ .services.server.build.context }}"
            dockerfile: "{{ .services.server.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.server.image }}"
        {{- end }}
        restart: unless-stopped

    server:
        {{- if eq .services.server.build.enabled true }}
        build:
            context: "{{ .services.server.build.context }}"
            dockerfile: "{{ .services.server.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.server.image }}"
        {{- end }}
        restart: unless-stopped

    server:
        {{- if eq .services.server.build.enabled true }}
        build:
            context: "{{ .services.server.build.context }}"
            dockerfile: "{{ .services.server.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.server.image }}"
        {{- end }}
        restart: unless-stopped

    tests:
        {{- if eq .services.tests.build.enabled true }}
        build:
            context: "{{ .services.tests.build.context }}"
            dockerfile: "{{ .services.tests.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.tests.image }}"
        {{- end }}
        restart: unless-stopped

    vault-resource-controller:
        {{- if eq .services.vault-resource-controller.build.enabled true }}
        build:
            context: "{{ .services.vault-resource-controller.build.context }}"
            dockerfile: "{{ .services.vault-resource-controller.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.vault-resource-controller.image }}"
        {{- end }}
        restart: unless-stopped

    verkehr:
        {{- if eq .services.verkehr.build.enabled true }}
        build:
            context: "{{ .services.verkehr.build.context }}"
            dockerfile: "{{ .services.verkehr.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.verkehr.image }}"
        {{- end }}
        restart: unless-stopped

    video:
        {{- if eq .services.video.build.enabled true }}
        build:
            context: "{{ .services.video.build.context }}"
            dockerfile: "{{ .services.video.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.video.image }}"
        {{- end }}
        restart: unless-stopped

    web:
        {{- if eq .services.web.build.enabled true }}
        build:
            context: "{{ .services.web.build.context }}"
            dockerfile: "{{ .services.web.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.web.image }}"
        {{- end }}
        restart: unless-stopped

    website:
        {{- if eq .services.website.build.enabled true }}
        build:
            context: "{{ .services.website.build.context }}"
            dockerfile: "{{ .services.website.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.website.image }}"
        {{- end }}
        restart: unless-stopped

    zertificat:
        {{- if eq .services.zertificat.build.enabled true }}
        build:
            context: "{{ .services.zertificat.build.context }}"
            dockerfile: "{{ .services.zertificat.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.zertificat.image }}"
        {{- end }}
        restart: unless-stopped

    zitadel-resource-controller:
        {{- if eq .services.zitadel-resource-controller.build.enabled true }}
        build:
            context: "{{ .services.zitadel-resource-controller.build.context }}"
            dockerfile: "{{ .services.zitadel-resource-controller.build.dockerfile }}"
        {{- else }}
        image: "{{ .services.zitadel-resource-controller.image }}"
        {{- end }}
        restart: unless-stopped

